# SPDX-FileCopyrightText: © 2026 Toon Verstraelen <Toon.Verstraelen@UGent.be>
# SPDX-License-Identifier: CC-BY-SA-4.0

# IDEs and development tools
.idea
.vscode
.ruff_cache

# Python
__pycache__
dist
build

# Apptainer
*.sif

# StepUp
.stepup
talk.html
built

# Software environment
.venv
venv
venvs
shell.sh
.envrc

# Other
tmp
pkgs
slurm-*.*
